# Unity 관련
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
**/Art/


# Addressables (빌드 결과물)
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 디버깅/레코딩
[Mm]emoryCaptures/
[Rr]ecordings/

# Visual Studio / Jetbrains Rider
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
[Aa]ssets/Plugins/Editor/JetBrains*

# 기타 툴/플랫폼
.gradle/
ExportedObj/
.consulo/
*.tmp
*.booproj
*.svd
sysinfo.txt
crashlytics-build.properties

# 결과물
*.apk
*.aab
*.app
*.unitypackage
